.signUpBtn button:hover {
    box-shadow: 4px 4px 2px var(--primary_color);
    transform: scale(1.1);
}

.spanErr {
    color: var(--primary_color);
    padding-top: .5rem;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .sign {
        width: 100% !important;
        padding: 0 40px !important;
        background-color: black !important;
        border-radius: 0 !important;
    }

    .linkLog a {
        color: var(--secondary_color);
    }

    .signUpBtn {
        width: 100% !important;
    }

    .signUpBtn button:hover {
        box-shadow: 4px 4px 2px var(--primary_color);
        transform: scale(1.02);
    }

    .spanErr {
        color: var(--secondary_color);
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .userInfo {
        grid-template-columns: auto !important;
        font-size: 14px;
    }

    .linkLog {
        font-size: 13px;
    }
}